body {
  background-color: black;
}
.sidebar {
  background: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  right: 20px;
  top: 20px;

  height: 90vh;
  overflow: auto;
  width: 700px;
  transition: all 2s;
  border-radius: 10px;
  border: 1px solid black;
}

.sidebar.hide {
  right: -1000px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  width: 250px;
}

.form * {
  font-size: 20px;
}

.container {
  width: 600px;

  display: flex;
  padding: 15px;
  margin: 10px;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  border: 1px solid black;

  flex-direction: column;
}

.item {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.item * {
  margin: 0;
  padding: 0;
}

.item p {
  width: 180px;
  overflow: hidden;
  text-overflow: hidden;
}
.item input {
  width: 400px;
}
